<div class="header"><label>INFORMACIÓN [ ENVIANDO ENVÍO ]</label><span class="cerrar" style="margin-top: -10px;">&times;</span></div>
<form name="entregar" method="post" autocomplete="off">
    <div class="fila fila-90">
        <div class="columna columna-100 notificacionentregar"></div>
        <div class="columna columna-40">
            <label>Fecha de entrega</label>
            <input type="hidden" name="envioid" value="@ViewBag.EnvioId" />
            <input type="date" name="fechaentrega" value="" class="input icono-calendario" />
        </div>
        <div class="columna columna-50">
            <label>Hora de entrega / Formato de 24Hrs</label>
            <input type="time" name="horaentrega" value="" class="input icono-calendario" />
        </div>
        <div class="columna columna-10" style="margin-top: 15px; text-align: right;">
            <input type="submit" value="Guardar" class="boton" style="padding-left: 10px; padding-right: 10px;" />
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("[name=fechaentrega]").on("change", function () {
            var fecha = $(this).val().split("-");
            fecha = fecha[2] + "/" + fecha[1] + "/" + fecha[0];
            var hoy = new Date();
            hoy = hoy.toLocaleDateString("es-MX");
            if (fecha > hoy) {
                alert("La fecha de entrega no debe ser mayor a la fecha de hoy");
                $(this).val("");
            }
        });
        $("[name=entregar]").jqxValidator({
            hintType: "label",
            animationDuration: 0,
            rules: [
                {
                    input: "[name=envioid]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        if ($("[name=envioid]").val() != 0) {
                            return true;
                        } else {
                            alert("No hay clave de referencia al número de envío");
                            return false;
                        }
                    }
                },
                {
                    input: "[name=fechaentrega]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        if ($("[name=fechaentrega]").val() != "") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                },
                {
                    input: "[name=horaentrega]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        if ($("[name=horaentrega]").val() != "") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            ]
        });
        $("[name=entregar]").on("submit", function () {
            $(this).jqxValidator("validate");
            return false;
        });
        $("[name=entregar]").on("validationSuccess", function (event) {
            $.ajax({
                url: "/asignador/entregarenvio",
                type: "post",
                data: {
                    envioid: $("[name=envioid]").val(),
                    fechaentrega: $("[name=fechaentrega]").val(),
                    horaentrega: $("[name=horaentrega]").val()
                },
                async: false,
                dataType: "json",
                beforeSend: function (xhr) {
                    $(".notificacionentregar").jqwNotificacion("info", "Espere un momento por favor...");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".notificacionentregar").jqwNotificacion("error", jqXHR.responseText);
                },
                success: function (data, textStatus, jqXHR) {
                    if (data.accion === "Done") {
                        $(".notificacionentregar").jqwNotificacion("exitoso", data.respuesta);
                    } else {
                        $(".notificacionentregar").jqwNotificacion("error", data.respuesta);
                    }
                },
                complete: function (data, textStatus, jqXHR) {
                    setTimeout(function () {
                        $(".notificacionentregar").children().remove();
                    }, 200);
                }
            });
        });
    });
</script>